<p id="notice"><%= notice %></p>

<h1>Favourites</h1>

<table>
 
     
      <tr><%= link_to 'Anime', animes_path %>
</th><br>
      <tr><%= link_to 'Movie', movies_path %>
</th><br>
      <tr><%= link_to 'TelevisionShow', television_shows_path %>
</th><br>
      <tr colspan="3"> 
 

</table>

<br>
 